html {
  background-color: #6f2da8;
  opacity: 100%;
}
/* ,  */
.App {
  text-align: center;
  color: white;
}
.footer {
  background-color: #9562c2;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.nav-bar {
  background-color: white;
}
